@page "/motoristas/edit/{id:int}"
@inject HttpClient Http;
@inject NavigationManager NavigationManager;
@using Estacionamento.MAUI.Models;

<h3>Editar Motorista</h3>


@if(motorista == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form @onsubmit="UpdateMotorista">
                <div class="form-group">
                    <label for="nome" class="control-label">Nome</label>
                    <input for="noem" class="form-control" @bind="motorista.Nome" />
                </div>
                <div class="form-group">
                    <label for="cpf" class="control-label">CPF</label>
                    <input form="cpf" class="form-control" @bind="motorista.Cpf" />
                </div>
                <div class="form-group">
                    <label for="telefone" class="control-label">Telefone</label>
                    <input for="telefone" class="form-control" @bind="motorista.Telefone" />
                </div>
                <div class="form-group">
                    <label for="Id" class="control-label">Id</label>
                    <input for="Id" class="form-control" @bind="motorista.Id" />
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a href="/motoristas" class="btn btn-light">Voltar</a>
                </div>

            </form>
        </div>
    </div>
}


@code{
    [Parameter]
    public int Id { get; set; }
    private Motorista? motorista;

    protected override async Task OnInitializedAsync()
    {
        motorista = await Http.GetFromJsonAsync<Motorista>($"https://localhost:4000/api/motoristas/{Id}");
    }

    async Task UpdateMotorista()
    {
        await Http.PutAsJsonAsync<Motorista>($"https://localhost:4000/api/motoristas/{Id}", motorista);
        NavigationManager.NavigateTo("/motoristas");

    }


}