@page "/veiculos/edit/{id:int}"
@using Estacionamento.MAUI.Models;
@inject HttpClient Http;

<h3>Editar Veículo</h3>

if(veiculo == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    @veiculo.Marca
    <br />

    @veiculo.Modelo
    <br />

}

@code {
    [Parameter]
    public int Id { get; set; }
    private Veiculo? veiculo;

    protected override async Task OnInitializedAsync()
    {
        // Buscar um veiculo na API;
        veiculo = await Http.GetFromJsonAsync<Veiculo>($"https://localhost:4000/api/veiculos/{Id}");
    }
}
