@page "/veiculos/edit/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Estacionamento.MAUI.Models

<h3 class="text-center mb-3">Editar Veículo</h3>

@if (veiculo == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form @onsubmit="UpdateVeiculo">
        <div class="mb-3">
            <label for="placa" class="form-label">Placa</label>
            <input for="placa"  class="form-control" @bind="veiculo.Placa" />
        </div>
        <div class="mb-3">
            <label for="modelo" class="form-label">Modelo</label>
            <input for="modelo"  class="form-control" @bind="veiculo.Modelo" />
        </div>
        <div class="mb-3">
            <label for="cor" class="form-label">Cor</label>
            <input for="cor"  class="form-control" @bind="veiculo.Cor" />
        </div>
        <div class="mb-3">
            <label for="motorista" class="form-label">Motorista</label>
            <InputSelect id="motorista"  class="form-select" @bind-Value="veiculo.MotoristaId">
                <option value="0">Selecione um motorista</option>
                @foreach (var motorista in motoristas)
                {
                    <option value="@motorista.Id">@motorista.Nome</option>
                }
                
            </InputSelect>
        </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a href="/veiculos" class="btn btn-light">Voltar</a>
                </div>
            </form>
        </div>
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }
    private Veiculo? veiculo;

    List<Motorista>? motoristas;

    protected override async Task OnInitializedAsync()
    {
        veiculo = await Http.GetFromJsonAsync<Veiculo>($"https://localhost:4000/api/veiculos/{Id}");

        motoristas = await Http.GetFromJsonAsync<List<Motorista>>("https://localhost:4000/api/motoristas");
    }

    async Task UpdateVeiculo()
    {
        await Http.PutAsJsonAsync<Veiculo>($"https://localhost:4000/api/veiculos/{Id}", veiculo);
        NavigationManager.NavigateTo("/veiculos");
    }

}
