@page "/motoristas/create"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Estacionamento.MAUI.Models

<h3 class="text-center mb-3">Novo Motorista</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form @onsubmit="CreateMotorista">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input for="nome"  class="form-control" @bind="motorista.Nome" />
        </div>
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input for="cpf"  class="form-control" @bind="motorista.Cpf" />
        </div>
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input for="telefone"  class="form-control" @bind="motorista.Telefone" />
        </div>
        <div class="mb-3">
            <label for="veiculo" class="form-label">Veículo</label>
             <InputSelect id="veiculo" class="form-select" @bind-Value="motorista.Veiculos">
                <option value="0">Selecione um veículo</option>
                    @foreach (var veiculo in veiculos)
                    {
                        <option value="@veiculo.Id">@veiculo.Placa - @veiculo.Modelo</option>
                    }
                </InputSelect>

        </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a href="/motoristas" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>





@code {
    Motorista motorista = new Motorista(); // Instancia um novo objeto Motorista
    List<Veiculo>? veiculos = new(); // Lista para armazenar os veículos

    protected override async Task OnInitializedAsync()
    {
        // Carrega a lista de veículos ao inicializar o componente
        veiculos = await Http.GetFromJsonAsync<List<Veiculo>>("https://localhost:4000/api/veiculos");
    }

    async Task CreateMotorista()
    {
        await Http.PostAsJsonAsync("https://localhost:4000/api/motoristas", motorista);
        NavigationManager.NavigateTo("/motoristas");
    }

}
